{% if validlink %}
    <h2>Enter new password:</h2>

    <form action="" method="post" class="pure-form pure-form-aligned solo-box" enctype="multipart/form-data">
        <fieldset>
            {% csrf_token %}
            {% include "registration/form_snippet.html" %}
        </fieldset>
        <fieldset>
            <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-primary">Reset password</button>
            </div>
        </fieldset>
    </form>
{% else %}
    <h2>Password reset unsuccessful</h2>
    <div class="solo-box">
        <p>
            The password reset link was invalid, possibly because it has been already used.
            Please request a new password reset.
        </p>
</div>
{% endif %}
